
<div class="row g-3 align-items-start mb-4 border-bottom">
  <div class="col-12 col-md-4">

    <div class="image">

      {% if has_field_image %}
      {{ fields.field_image.content }}
      {% else %}
        {{ fields.term_icon.content }}
      {% endif %}

    </div>
  </div>
  <div class="col-12 col-md-8">
    <p class="text-muted mb-1">{{ fields.changed.content }}</p>
    <h5>
        {{ fields.title.content }}
    </h5>
    <p class="mb-0">
      {{ fields.body.content }}
    </p>
    <p>{{ sport_code}}</p>
    {{ fields.views_conditional_field.content }}
  </div>
</div>
